/*
 * Base styles
 */

html, body { margin: 0; }

html {
    background-color: #bfbab4;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 96.250em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* 
 * Map styles
 */

.Map,
.Placehold {
    position: absolute;
    top: 22.44449%;
    width: 78.896%;
    height: 36.256%;
}

/* top: 21.250em; width: 75.938em; height: 34.375em; */

.Placehold {
    background-color: #fff;
}

.Map img {
    max-width: none;
}
